{% extends "base.html" %} {% block title %}Signup{% endblock title %}
{% load crispy_forms_tags %} 
{% block content %}
<div class="container min-vh-100 d-flex justify-content-center align-items-center py-3">
  <div class="card">
  <div class="card-header fw-bold">Signup</div>
    <div class="card-body">
      <hr>
      <div class="card-text">
        <form method="POST" id="signupForm">
        {% csrf_token %}
        <fieldset class="form-group">
          {{form | crispy}}
        </fieldset>
        </form>
      </div>
      <button class="card-link btn btn-primary" type="submit" form="signupForm">Signup</button>
      <a href="{% url "login" %}" class="card-link link-offset-2 link-secondary"
        >Already have an account</a
      >
    </div>
  </div>
</div>
{% endblock content %}
