{% extends "base.html" %}
{% load crispy_forms_tags %} 
{% load static %}
{% block title %}Add Cell{% endblock title %}
{% block css %}
 {{ block.super }}
 <style>.card{ max-width: 800px; margin: auto }</style>
{% endblock css %}
{% block js %}
  <script type="module" src="{% static "dashboard/js/add_cell.js" %}"></script>
{% endblock js %}
{% block content %}
    {% include "dashboard/header_component.html" with extraButtonMarkup='<a href="/dashboard" class="btn btn-primary me-2">Dashboard</a>'%}
    <div class="container mt-2 mb-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add New Cell</h5>
          <hr>
          <div class="card-text">
            <form method="POST" id="cellCreationForm">
              {% csrf_token %}
              <fieldset class="form-group">
                {% comment %} Control for uploading image {% endcomment %}
                <div class="mb-3">
                  <label class="form-label">Cell Image</label>
                  <input type="file" class="form-control" accept=".png, .jpg, .jpeg" id="cellImage" required>
                </div>
                {% comment %} Hidden control to send the image_data_url to the server {% endcomment %}
                <input type="hidden" name="image_data_url" id="image_data_url">
                {{form | crispy}}
              </fieldset>
            </form>
          </div>
          <button class="card-link btn btn-primary" type="submit" form="cellCreationForm">Add</button>
          <a href="{% url "dashboard" %}" class="card-link btn btn-primary">Cancel</a>
        </div>
      </div>
    </div>
{% endblock content %}