<li class="list-group-item d-flex justify-content-between align-items-center">
  <div class="ms-2">
    <div class="fw-bold">Cell-ID: {{cell.cell_id}}</div>
    Condition: {{cell.cell_condition}}
  </div>
  <div class="d-flex flex-column flex-sm-row gap-2">
    <button class="btn btn-success">View</button>
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
  <div class="cell-thumbnail h-100 ps-2">
    <img src="{{cell.image_data_url}}" alt="cell image" />
  </div>
</li>
