{% extends "base.html" %} 
{% load static %} 
{% block title %}Cell Details{%endblock title %} 
{% block css %} 
  {{ block.super }} 
  <link
  rel="stylesheet" 
  href="{% static "dashboard/css/cell_detail.css" %}"> 
{% endblock css %} 
{% block js %}
  <script type="module" src="{% static "dashboard/js/cell_detail.js" %}"></script>
{% endblock js %}
{% block content %} 
{% include "dashboard/header_component.html" with extraButtonMarkup='<a href="/dashboard" class="btn btn-primary me-2">Dashboard</a>'%}
<div class="container p-3">
  {% comment %} FOR UPLOADING IMPEDANCE DATASET {% endcomment %}
  <div class="mb-3 card mx-auto">
    <div class="card-header">Upload Impedance Dataset</div>
   <form method="POST" class="card-body" id="datasetForm">
    {% csrf_token %}
      <div class="">
        <input type="file" class="form-control mb-2" accept=".csv" id="datasetInput"required>
        <button type="submit" class="btn btn-primary">Visualize</button>
      </div>
  </form>
  </div>
  {% comment %} ID and HEALTH {% endcomment %}
  <div class="row mb-3 gap-2 justify-content-center">
    {% comment %} ID AND IMAGE{% endcomment %}
    <div class="col-12 col-sm-5 card id-image">
      <img
        src="{{cell.image_data_url}}"
        class="card-img-top"
        alt="cell image"
      />
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <h5 class="card-title">Cell-Id:</h5>
          <div class="card-text">{{cell.cell_id}}</div>
        </div>
        <div class="barcode">
          <img src="data:image/png;base64,{{barcode}}" alt="barcode" />
        </div>
      </div>
    </div>
    {% comment %} HEALTH ICON {% endcomment %}
    <div class="col-12 col-sm-5 card health-icon">hello</div>
  </div>
  {% comment %} META AND ELECTRICAL INFORMATION {% endcomment %}
  <div class="row mb-3 gap-2 justify-content-center">
    {% comment %} META INFORMATION {% endcomment %}
    <div class="col-12 col-sm-5 card">
      {% include "dashboard/meta_info_component.html" with cell=cell%}
    </div>
    {% comment %} ELECTRICAL PARAMETERS {% endcomment %}
    <div class="col-12 col-sm-5 card">
      {% include "dashboard/electrical_parameters_component.html" with cell=cell%}
    </div>
  </div>
  {% comment %} HOOK FOR IMPEDANCE VISUALIZATIONS, DISPLAYED ONLY WHEN DATA IS UPLOADED {% endcomment %}
  <div class="visualization">
  </div>
</div>
{% endblock content %}
