{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block css %}
    {{block.super}}
    <link rel="stylesheet" href="{% static "dashboard/css/styles.css" %}">
{% endblock css %}
{% block content %}
    {% include "dashboard/header_component.html" %}
    <div class="container dashboard">
        <a href="{% url "add_cell" %}" class='btn btn-primary my-2'>Add Cell</a>

        {% comment %} LIST OF CELLS {% endcomment %}
        <ul class="list-group">
            {% for cell in cell_list %}
                {% include "dashboard/cell_list_component.html" with cell=cell%}
            {% empty %}
                <li class="list-group-item d-flex flex-column justify-content-center align-items-center pt-3">
                    <div>No cell added yet.</div>
                    <div class="text-center">Try adding a cell by clicking the above button.</div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}