<div class="card-header">Electrical Parameters</div>
<div class="card-body">
  <div class="d-flex justify-content-between">
    <div>Nominal Voltage</div>
    <div class="field-value">{{cell.nominal_voltage}} {{cell.nominal_voltage_unit}}</div>
  </div>
  <div class="d-flex justify-content-between">
    <div>Nominal Energy</div>
    <div class="field-value">{{cell.nominal_energy}} {{cell.nominal_energy_unit}}</div>
  </div>
  <div class="d-flex justify-content-between">
    <div>Nominal Charge Capacity</div>
    <div class="field-value">{{cell.nominal_charge_capacity}} {{cell.nominal_charge_capacity_unit}}</div>
  </div>
  <div class="d-flex justify-content-between">
    <div>Voltage Range</div>
    <div class="field-value">{{cell.voltage_range}} {{cell.voltage_range_unit}}</div>
  </div>
  <div class="d-flex justify-content-between">
    <div>Current Continous</div>
    <div class="field-value">{{cell.current_continuous}} {{cell.current_continuous_unit}}</div>
  </div>
  <div class="d-flex justify-content-between">
    <div>Current Peak</div>
    <div class="field-value">{{cell.current_peak}} {{cell.current_peak_unit}}</div>
  </div>
  <div class="d-flex justify-content-between">
    <div>Power Continous</div>
    <div class="field-value">{{cell.power_continuous}} {{cell.power_continuous_unit}}</div>
  </div>
  <div class="d-flex justify-content-between">
    <div>Power Peak</div>
    <div class="field-value">{{cell.power_peak}} {{cell.power_peak_unit}}</div>
  </div>
  <div class="d-flex justify-content-between">
    <div>Enery Density (Gravimetric)</div>
    <div class="field-value">{{cell.energy_density_gravimetric}} {{cell.energy_density_gravimetric_unit}}</div>
  </div>
  <div class="d-flex justify-content-between">
    <div>Energy Density (Volumetric)</div>
    <div class="field-value">{{cell.energy_density_volumetric}} {{cell.energy_density_volumetric_unit}}</div>
  </div>
  <div class="d-flex justify-content-between">
    <div>Power Density (Gravimetric)</div>
    <div class="field-value">{{cell.power_density_gravimetric}} {{cell.power_density_gravimetric_unit}}</div>
  </div>
  <div class="d-flex justify-content-between">
    <div>Power Density (Volumetric)</div>
    <div class="field-value">{{cell.power_density_volumetric}} {{cell.power_density_volumetric_unit}}</div>
  </div>
</div>
