<div class="card-header">Meta Information</div>
<div class="card-body">
  <div class="d-flex justify-content-between">
    <div class="field-title">Cell Condition:</div>
    <div class="field-value">{{cell.cell_condition}}</div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="field-title">Manufacturer</div>
    <div class="field-value">{{cell.manufacturer}}</div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="field-title">Model</div>
    <div class="field-value">{{cell.model}}</div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="field-title">Type</div>
    <div class="field-value">{{cell.type}}</div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="field-title">Form Factor</div>
    <div class="field-value">{{cell.form_factor}}</div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="field-title">Mass</div>
    <div class="field-value">{{cell.mass}} {{cell.mass_unit}}</div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="field-title">Height</div>
    <div class="field-value">{{cell.height}} {{cell.height_unit}}</div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="field-title">Diameter</div>
    <div class="field-value">{{cell.diameter}} {{cell.diameter_unit}}</div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="field-title">Volume</div>
    <div class="field-value">{{cell.volume}} {{cell.volume_unit|slice:":2"}}<sup>{{ cell.volume_unit|slice:"2:" }}</sup></div>
  </div>
</div>
