.card:not(.card.plot){
  max-width: 400px;
  padding: 0;
}

.barcode img {
    width: 100%;
  max-height: 130px;
}

.card-img-top {
  max-height: 300px;
  object-fit: cover;
}

@media(min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}

.field-value {
  text-align: end;
}

/* health icon */
.cell {
  margin: auto;
  border: 5px solid black;
  width: 100px;
  height: 200px;
  border-radius: 10px;
}

.cap {
  width: 30px;
  height: 15px;
  background-color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: auto;
}

.healthy{
  background-color: green;
  border-bottom: 2px solid black
}

.degraded {
  background-color: red;
}

.plot {
  max-width: 685px;
}